.main-feedback {
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  /* border: 5px solid blue;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
  left: 50%;
  padding: 40px;
  position: absolute;
  text-align: center;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.main-feedback span {
  font-weight: 600;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subcontainer {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  background: white;
  border-radius: 20px;
  left: 50%;
  padding: 40px 40px;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.subcontainer img {
  width: 180px;
  padding: 10px 230px;
}

.feedback-text {
  color: rgb(66, 0, 87);
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.feedback-buttons-container {

  /* border: 5px solid red; */
  position: absolute;
  top: 80%;
  width: 80%;

  /* display: flex;
  justify-content: space-between; */
}

.feedback-buttons {
  background-color: var(--green);
  border-radius: 20px;
  color: black;
  font-weight: 600;
  padding: 25px;
}

.ranking-btn {
  background-color: var(--yellow);
  margin-left: 73%;
}
