/* .main-login {
  position: absolute;
  top: 25%;
  left: 25%;
  margin-top: -50px;
  margin-left: -50px;
  width: 50%;
  height: 50%;
}

.main-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.main-login form input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  border: none;
  background-color: rgb(90, 62, 134);
  border-radius: 20px;
  text-align: center;
  color: white;
}

.main-login form label{
  text-align: center;
} */

/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495E;
} */

body {
  margin: 1px;
}

.form {
  background: white;
  border-radius: 20px;
  left: 50%;
  padding: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.form input {
  background: none;
  border: 4px solid var(--blue);
  border-radius: 24px;
  color: black;
  display: block;
  margin: 20px auto;
  outline: none;
  padding: 14px 10px;
  text-align: center;
  transition: 0.25s;
  width: 200px;
}

.form label {
  color: black;
  text-align: end;
}

.form input:focus {
  background-color: var(--green);
  border-color: var(--green);
  width: 280px;
}

.form button {
  border: 2px solid var(--yellow);
  border-radius: 15px;
  color: black;
  cursor: pointer;

  /* background: none; */
  display: block;
  margin: 20px auto;
  outline: none;
  padding: 14px 0;
  text-align: center;
  transition: 0.25s;
  width: 120px;
}

.btn-play {
  background-color: var(--yellow);
}

.btn-settings {
  border: 2px solid var(--yellow);
  float: right;
}

.form button:hover {
  background: var(--green);
}

.cat {
  left: 28%;
  position: absolute;
  top: 55%;
}
