* {
  font-size: 1.04em;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #17141D;
  color: beige;
  border-radius: 25px;
}

.title-game {
  font-family: 'Press Start 2P', cursive;
}

.image {
  border-radius: 50%;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
}

/* amarelo: #FBF466 vinho: #661C1D cinza: #17141D */