* {
  font-size: 1.04em;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: #17141d;
  color: beige;
  display: flex;
  justify-content: space-around;
  padding: 10px 175px 10px 40px;
  align-content: space-around;
}

.title-game {
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 42px;
}

.title-game:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.title-div {
  flex-grow: 200;
  align-content: center;
  width: 80%;
}

.image {
  border-radius: 50%;
  width: 70px;
  margin-right: 25px;
  margin-left: 25px;
  /* flex-grow: 1; */
}

.name {
  font-weight: 600;
  text-transform: uppercase;
  flex-grow: 1;
}

.header-score {
  flex-grow: 1;
  
}

.infos {

  /* border: 5px solid red; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20%;
  flex-grow: 1;
}
