* {
  font-size: 1.04em;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  align-items: center;
}

.image {
  border-radius: 50%;
}

/* .name {

} */