.main-container {

  /* border: 5px solid blue; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.question-category {
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.question-text {
  padding: 20px;
  text-align: center;
}

.container-question {
  background-color: aliceblue;
  border-radius: 20px;

  /* padding: 10px;
  margin: 10px; */
  width: 100%;
}

.container-answer {

  /* border: 5px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.answers {
  border-radius: 10px;
  flex-basis: 48%;
  margin: 0.5% 0.5% 0.5% 1%;
  padding: 20px;
}

.answers:hover {
  background-color: yellow;
  opacity: 0.9;
}

.next-button {
  border-radius: 20px;
  padding: 10px 40px;
  visibility: hidden;
}

.correct {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  color: white;
  font-weight: 600;
}

.correct:hover {
  background-color: rgb(6, 240, 15);
  opacity: 1;
}

.incorrect {
  background-color: red;
  border: 3px solid red;
  color: white;
  font-weight: 600;
}

.incorrect:hover {
  background-color: red;
  opacity: 1;
}

.timer-link {

  /* border: 5px solid red; */
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  width: 80%;
}

.feedback {
  text-decoration: none;
}

.feedback:hover {
  color: black;
}
