.next-button {
  visibility: hidden;
}

.container-question{
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.container-answer {
  border: 5px solid yellow;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.answers {
  padding: 20px;
  border-radius: 10px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}
